

body {
  font-family: 'Georgia', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #a7937c;
}

.App {
  text-align: center;
  margin-top: 10rem;
  background-color: #fec5bb;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 32px;
  font-size: 6rem;
  margin-bottom: 4rem;
  background-color: rgb(37, 150, 190);
  
  margin-bottom: 20px;
}

p {
  font-size: 12px;
  margin-bottom: 10px;
}

.dictionary-form {
  margin-bottom: 20px;}

.dictionary-result {
  margin-top: 20px;
}

.search-form {
  margin-bottom: 0.5rem;
  background-color: rgb(23, 70, 81);
}

::placeholder {
  color: rgb(19, 2, 2);
  height: 10rem;
}
