body{
  background-color: #ece4db;
}

body {
  font-family: 'Georgia', sans-serif;
}

form {
  font-family: 'Georgia', sans-serif;
}

.App {
  text-align: center;
  margin-top: 50px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e1aaaa;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.submit-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dictionary-result {
  margin-top: 20px;
}

.word {
  font-size: 20px;
  margin-bottom: 10px;
}

.meaning,
.definitions,
.synonyms,
.antonyms,
.phonetics {
  margin-bottom: 5px;
}

